<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dadata" version="21.3.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net472" allowedVersions="(,4.5.3.3]" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OpenTK" version="3.3.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net472" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
</packages>